<h1>List of Species</h1>

<% @species.each do |type| %>
<p>Name: <%= type.name %></p>
<p>Common Name: <%=type.common_name %></p>
<p><a href="/plant-shop/species/<%= type.id %>">More Details</a></p>
<hr/>
<% end %>
