<form action="/plant-shop/plants" method="post">
  <label for="name">Name</label>
  <input id ="name" type = "text" name="name">
</form>

<form action="/plant-shop/plants" method="post">
  <label for="latin-name">Latin Name</label>
  <input id ="latin-name" type = "text" name="latin_name">
</form>

<form action="/plant-shop/plants" method="post">
  <label for="description">Description</label>
  <input id ="description" type = "text" name="description">
</form>

<form action="/plant-shop/plants" method="post">
  <label for="stock-quantity">Stock Quantity</label>
  <input id ="stock-quantity" type = "number" name="stock_quantity" required>
</form>

<form action="/plant-shop/plants" method="post">
  <label for="buying-cost">Buying Cost</label>
  <input id ="buying-cost" type = "number" name="buying_cost" required>
</form>

<form action="/plant-shop/plants" method="post">
  <label for="selling-price">Selling Price</label>
  <input id ="selling-price" type = "number" name="selling_price" required>
</form>

<input type="submit" value="Submit">
