<h1>List of Plants</h1>

<% @plants.each do |plant| %>
<p>Name: <%= plant.name %></p>
<p>Latin Name: <%= plant.latin_name %></p>
<p>Stock Quantity: <%= plant.stock_quantity %></p>
<p><a href="/plant-shop/plants/<%= plant.id %>">More Details</a></p>
<hr/>
<% end %>
