<form action="/plant-shop/plants/<%=@plant.id%>/update" method="post">
  <label for="name">Name</label>
  <input id ="name" type = "text" name="name">

  <label for="latin-name">Latin Name</label>
  <input id ="latin-name" type = "text" name="latin_name">

  <label for="species">Species:</label>
  <select id ="species" name="species_id">
    <%@species.each do |type| %>
    <option value=<%= "#{type.id}"%>><%=type.name%></option>
    <% end %>
  </select>

  <label for="description">Description</label>
  <input id ="description" type = "text" name="description">

  <label for="stock-quantity">Stock Quantity</label>
  <input id ="stock-quantity" type = "number" name="stock_quantity" required>

  <label for="buying-cost">Buying Cost</label>
  <input id ="buying-cost" type = "number" name="buying_cost" required>

  <label for="selling-price">Selling Price</label>
  <input id ="selling-price" type = "number" name="selling_price" required>

<input type="submit" value="Update">
</form>
